
:root{
	--bg-color:#3e3f46;
	--white-color:#ffffff;
	--span-color: #15d9ee;
	--border:#2964bc;
	--dark:#000000;
	--gray:#4f6078;

}

body{
 background-color:var(--bg-color);
}
section{
	padding: 90px 0;
}
h1{
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
}
h2{
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}
h4{
	font-family: 'Open Sans', sans-serif;
	color: var(--white-color);
	line-height: normal;
	font-size: 18px;
}
span{
	color: var(--span-color);
}
p{
	font-size: 14px;
	line-height: 2;
	color: var(--span-color);
}
.btn{
	border: 2px solid var(--border);
	color: var(--white) !important;
	padding: 15px 30px;
	border-radius: 30px;
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
}
.btn:hover{
	background: var(--primary-color);
	outline: none;
	box-shadow: none;
	color: var(--white);
}
svg{
	color: var(--primary-color);
	font-size: 35px !important;
}
.nav_fixed {
    background-color: transparent !important;
    box-shadow: none !important;
    opacity: 1 !important;
}
.sec{
	color: var(--dark) !important;
}
.sec:hover{
	color: var(--white-color) !important;
}

#header .nav{
	background-color: var(--bg-color) !important;
}
#header .navbar-brand img{
	filter: brightness(0) invert(1);
	width: 65%;
}
#header .navbar-dark .navbar-toggler{
	border: none;
	outline: none;
}
#header .navbar-toggler span{
	font-size: 25px;
}
#header .nav-item a{
	font-family:'Open Sans', sans-serif;
	text-transform: uppercase;
	color:var(--white-color);
}

#header .navbar-nav .nav-link {
    color: var(--white-color);
}

#header {
    background-color: var(--dark) !important;

}




#contact, .footer{
	background:var(--dark);
}
#contact .contact-heading{
		width: 60%;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 45px;
}
/*==========12) Footer Section Start==========*/
.footer .container{
		border-top: 1px solid var(--gray);
		border-color: var(--span-color);
		padding-top: 10px;
}
.footer ul{
	padding-left: 0;
}
.footer ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
}
.footer ul li:hover a{
	text-decoration: none;
	color: var(--primary-color);
}
.footer ul li a{
	color: var(--span-color);
}
.footer .copyright p{
	color: var(--span-color);
}
